<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Підключення CSS стилів -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<header class="login-header">
    <h1>Login Page</h1>
</header>

<main>
    <form action="/login" method="post" class="login-form">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
</main>
</body>
</html>